<div class="container-recipe">
  <div class="main-container">
    <div>
      <img
        [src]="recipe.image"
        alt="{{ recipe.name }}"
        class="recipe-image object-cover rounded-t-lg md:rounded-none md:rounded-s-lg"
      />
    </div>

    <div class="content-recipe">
      <h2>Cool choice!</h2>
      <h2 class="text-2xl font-bold mb-2 text-amber-950">{{ recipe.name }}</h2>
      <div class="text-gray-600 mb-4">
        <span>Cuisine: {{ recipe.cuisine }}</span> |
        <span>Difficulty: {{ recipe.difficulty }}</span> |
        <span
          >Rating: ⭐{{ recipe.rating }} ({{
            recipe.reviewCount
          }}
          reviews)</span
        >
      </div>

      <div class="main-content">
        Ready in just
        <ul>
          <li>
            <span
              class="span-items bg-orange-300 text-gray-800 text-sm font-medium px-3 py-1 rounded-lg shadow-sm"
              >Prep Time: {{ recipe.prepTimeMinutes }} min</span
            >
          </li>
          <li>
            <span
              class="span-items bg-orange-300 text-gray-800 text-sm font-medium px-3 py-1 rounded-lg shadow-sm"
              >Cook Time: {{ recipe.cookTimeMinutes }} min</span
            >
          </li>
          <li>
            <span
              class="span-items bg-orange-300 text-gray-800 text-sm font-medium px-3 py-1 rounded-lg shadow-sm"
              >Calories: {{ recipe.caloriesPerServing }} kcal</span
            >
          </li>
        </ul>

        <span
          class="span-items bg-orange-300 text-gray-800 text-sm font-medium px-3 py-1 rounded-lg shadow-sm"
          >Servings: {{ recipe.servings }}</span
        >
        <div
          class="mt-6 bg-yellow-100 border-l-4 border-yellow-400 text-yellow-900 p-4 rounded-lg shadow-md"
        >
          <p class="text-md font-medium">
            Are you back here again checking this recipe? Hmm… maybe it’s time
            to admit you love it.
          </p>
          <p class="mt-2">✨ Just add it to your wishlist already! 👉🏾</p>
          <button id="wishlist" (click)="likedRecipe()">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
              <path
                d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z"
              />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="heading">
      <div class="heading-content">
        <h2>🍽️ Let’s Get Cooking!</h2>
        <p>
          You’ve just unlocked {{ recipe.name }} – a delicious blend of taste
          and tradition! Whether you're a seasoned chef or a curious foodie,
          this recipe is designed to impress.
        </p>
      </div>
    </div>
    <!-- 
    <div class="wave-block">
      <video class="recipe-video" autoplay loop muted playsinline controls>
        <source
          src="https://v1.pinimg.com/videos/mc/720p/c0/aa/25/c0aa25a6a04d0aca5ca4f8dd133fa5d5.mp4"
          type="video/mp4"
        />

        Your browser does not support the video tag.
      </video>
    </div> -->
    <!-- <div class="tips">
      <div class="tips-card" *ngFor="let tip of tips">
        <h2>{{ tip.title }}</h2>
        <p>{{ tip.tip }}</p>
      </div>
    </div> -->
    <div class="blob-container">
      <div class="blob-card" *ngFor="let t of tips">
        <img src="assets/blob.svg" alt="blob background" class="blob-bg" />
        <img src="assets/blob2.svg" alt="blob background" class="blob-bg" />
        <img src="assets/blob3.svg" alt="blob background" class="blob-bg" />
        <div class="blob-content">
          <h3>{{ t.title }}</h3>
          <p>{{ t.tip }}</p>
          <button class="button">like it? ♡</button>
        </div>
      </div>
    </div>

    <div class="mt-6 ingredients">
      <div class="ingredient-text">
        <h3 class="text-lg font-semibold text-amber-950 mb-2">
          📝 Ingredients
        </h3>
        <ul class="list-disc list-inside text-gray-700 space-y-1">
          <li *ngFor="let i of ingredients">
            {{ i.name }}
          </li>
        </ul>
      </div>
      <div>
        <img
          src="assets/pantry.jpg"
          alt="{{ recipe.name }}"
          class="ingredient-blob"
        />
      </div>
    </div>
  </div>
</div>
