.recipe-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.container {
  background-color: rgb(254, 238, 216);
  color: rgb(33, 22, 8);
}

.recipe-card {
  flex: 1 1 calc(33.333% - 16px);
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .recipe-card {
    flex: 1 1 calc(50% - 16px);
  }
}

@media (max-width: 480px) {
  .recipe-card {
    flex: 1 1 100%;
  }
}
